/* GLobal Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.d-flex {
  display: flex;
}

.btn {
  outline: none;
  border: none;
  background-color: inherit;
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}
select {
  appearance: none;
  outline: none;
  background-color: inherit;
  padding: 0.5rem;
  border: none;
  border-radius: 5px;
  margin-right: 0.3rem;
  cursor: pointer;
  color: #32476b;
  box-shadow: #c3d3e3 2px 2px 2px 1px inset, #fff -2px -2px 10px 1px inset;
}

.mb {
  margin-bottom: 1rem;
}

/* End GLobal Styles */

.container {
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: #cbd8e8;
}

.alarm-clock {
  padding: 2rem;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background-color: #e3edf7;
}

.current-time {
  font-size: 2rem;
  color: #32476b;
}

.alarm-form {
  justify-content: space-between;
  width: 100%;
}

.submit-btn {
  box-shadow: #c3d3e3 2px 2px 2px 1px, #fff -2px -2px 10px 1px;
}

.alarms {
  width: 100%;
}

.alarms .title {
  color: #32476b;
  font-weight: bold;
}

.alarm {
  justify-content: space-between;
  border-radius: 30px;
  padding: 0.5rem 1rem;
  align-items: center;
  box-shadow: #c3d3e3 2px 2px 2px 1px inset, #fff -2px -2px 10px 1px inset;
}
.alarm .delete-alarm {
  box-shadow: #c3d3e3 2px 2px 2px 1px, #fff -2px -2px 10px 1px;
}

.time {
  color: #32476b;
  font-size: 0.8rem;
  font-weight: bold;
}
.btn:focus,
.btn:hover {
  box-shadow: #c3d3e3 2px 2px 2px 1px inset, #fff -2px -2px 10px 1px inset;
}

/* style of devices of screen size less than 768px */
@media only screen and (min-width: 600px) {
  /* adding padding to container */
  .container {
    padding-block: 2rem;
  }
  .alarm-clock{
      justify-content: center;
      border-radius: 50px;
      width: 450px;
      min-height: auto;
  }
}